@*@model IEnumerable<WebResumen.Models.CiclosAutoclaves>*@
@model ReflectionIT.Mvc.Paging.PagingList<WebResumen.Models.CiclosAutoclaves>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Index";
}

<h2> Ciclos Esterilización Producto NF8387A </h2>



@if (TempData["Print"] != null)
{



    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@TempData["Print"].ToString()!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>



}





@*<a asp-action="Create">Create New</a>*@
<div class="mt-4">
    @using (Html.BeginForm())
    {


    <form>
        Buscar por Nº Ciclo: @Html.TextBox("nCiclo", @Model.RouteValue["nCiclo"])
        Buscar por Nº Programa: @Html.TextBox("nPrograma", @Model.RouteValue["nPrograma"])

        <input type="submit" value="Buscar" />
    </form>

    }
    <a class="btn btn-blue float-right" asp-area="" asp-controller="AutoClaveA" asp-action="CycleList">Listado</a>
</div>


 

    <div class="mt-4" style="height: 600px; overflow: auto;">
        <table class="table table-responsive-sm">
            <thead class="thead-dark">
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.NumeroCiclo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Programa)
                    </th>


                    <th>
                        @Html.DisplayNameFor(model => model.HoraInicio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HoraFin)
                    </th>
                    <th>
                        Acciones
                    </th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.NumeroCiclo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Programa)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.HoraInicio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoraFin)
                        </td>

                        <td>

                            <a type="button" class="btn btn-info " asp-action="Preview" asp-route-id="@item.Id">Ver</a>
                            <a type="button" class="btn btn-success " asp-action="Login" asp-route-id="@item.Id">Imprimir</a>




                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    Página @(Model.PageCount < Model.PageIndex ? 0 : Model.PageIndex) de @Model.PageCount  Total Registros: @Model.TotalRecordCount
    <nav aria-label="Suppliers navigation example">
        <vc:pager paging-list="@Model" />
    </nav>













    @*<body ng-app="my-autoclaves" ng-controller="autoclave-controller">


        <div class="spinner-border text-primary" role="status" ng-show="loading">
            <span class="sr-only">Loading...</span>
        </div>*@

    @*<div class="alert alert-warning alert-dismissable" role="alert" ng-if="send"
             dismiss-on-timeout="1000">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            El archivo ha sido enviado a la impresora!
        </div>
        <div class="alert alert-success alert-dismissable" role="alert" ng-if="received">
            <button type="button" dismiss-on-timeout='1000' class="close" data-dismiss="alert">&times;</button>
            El archivo ha sido impreso!
        </div>*@
    @*<div>

            Programa : <input ng-model="programa" /><br /><br />
             NªCiclo : <input ng-model="numeroCiclo" /><br /><br />
            <input type="button" value="Send" ng-click="postdata(programa, numeroCiclo)" /> <br /><br />
            <button href="#" type="button" value="Send" ng-click="postdata(programa, numeroCiclo)" class="btn btn-success ">Buscar</button>

        </div>*@



    <!--<!-- Modal -->
    <!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="spinner-border text-primary" role="status" ng-show="loading">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <p ng-repeat="text in original track by $index">{{text}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>-->
    <!-- Modal -->
    <!--<label>Buscar por N.Ciclo <input ng-model="search.numeroCiclo"></label>    <label>Buscar por N.Progama <input ng-model="search.programa"></label>

    <div class="mt-4" style="height: 500px; overflow: auto;">
        <table class="table table-responsive-sm ">
            <thead class="thead-dark">
                <tr>
                    <th> N.Programa</th>
                    <th> N.Ciclo</th>
                    <th>Hora Inicio</th>
                    <th>Hora Fin</th>
                    <th>Acciones</th>


                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="emp in Autoclaves | filter:search">

                    <td> {{emp.numeroCiclo}}</td>
                    <td> {{emp.programa}}</td>
                    <td>{{emp.horaInicio}}</td>
                    <td>{{emp.horaFin}}</td>



                    <td>

                        <button href="#" type="button" data-toggle="modal" data-target="#exampleModal" value="submit" class="btn btn-info " ng-click="vistaPrevia(emp.id)">Ver</button>
                        <button href="#" type="button" value="submit" class="btn btn-success " ng-click="login(emp.id)">Imprimir</button>-->
    @*<button href="#" type="button" value="submit" class="btn btn-success" ng-click="imprimir(emp.id)">Imprimir</button> |*@



    @*</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </body>-->*@
