@model IEnumerable<WebResumen.Models.CiclosAutoclaves>

@{
    ViewData["Title"] = "Confirmación de Impresion";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<tbody>

    @using Microsoft.AspNetCore.Http
    @inject IHttpContextAccessor httpContextAccessor

    @using Microsoft.AspNetCore.Authorization
    @inject IAuthorizationService AuthorizationService
    @if ((await AuthorizationService.AuthorizeAsync(User, "Users")).Succeeded)
    {
    <a type="button" class="btn btn-success" asp-action="Print" asp-route-id="@httpContextAccessor.HttpContext.Session.GetString("SessionDatosA")">Imprimir</a>
    }
    else
        {
    <div class="form-group">

        @*@Html.DropDownList("ImpresoraNombre", new SelectList(ViewBag.impresoras, "--seleccionar--"))*@
        <a type="button" class="btn btn-success"   asp-action="PrintAS" asp-route-id="@httpContextAccessor.HttpContext.Session.GetString("SessionDatosA")">ImprimirAS</a>

    </div>
    @*@foreach (var person in ViewBag.impresoras)
    {

        <h1>@person</h1>

    }*@

    }

</tbody>

@*<input type="button" value="Print this page" onclick="PrintMe()" />

    <script>
        function PrintMe() {
            window.print();
        }

    </script>*@

@*<input type="button" value="Print this page" onclick="PrintMe()" />

<script>
    function PrintMe() {
        window.open('C:\archivo.pdf', "resizeable,scrollbar");
        //window.print();
    }

</script>*@





































@*<body ng-app="my-autoclaves" ng-controller="autoclave-controller">
        <div class="spinner-border text-primary" role="status" ng-show="loading">
                <span class="sr-only">Loading...</span>
            </div>

            <div class="alert alert-warning alert-dismissable" role="alert" ng-if="send"
                 dismiss-on-timeout="1000">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                El archivo ha sido enviado a la impresora!
            </div>

            <div class="alert alert-success alert-dismissable" role="alert" ng-if="received">
                <button type="button" dismiss-on-timeout='1000' class="close" data-dismiss="alert">&times;</button>
                El archivo ha sido impreso!
            </div>

        @using Microsoft.AspNetCore.Http
        @inject IHttpContextAccessor httpContextAccessor
        <h1>@httpContextAccessor.HttpContext.Session.GetString("SessionDatosA")</h1>



        <button href="#" type="button" value="submit" class="btn btn-success" ng-click="imprimir(@httpContextAccessor.HttpContext.Session.GetString("SessionDatosA"))">Imprimir</button>





    </body>*@
