@model IEnumerable<WebResumen.Models.MaestroAutoclave>

@{
    ViewData["Title"] = "Control AutoClaves";
}

<h1>Maestro AutoClave</h1>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<div class="mt-4" style="height: 500px; overflow: auto;">
    <table class="table table-responsive-sm">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Matricula)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Version)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ip)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Seccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UltimoCiclo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RutaSalida)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RutaSalidaPdf)
                </th>
                <th>
                    Acciones
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Matricula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Version)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ip)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Seccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UltimoCiclo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RutaSalida)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RutaSalidaPdf)
                    </td>
                    <td>
                        @*<a class="btn btn-success btn-sm text-white" asp-action="Edit" asp-route-id="@item.Id">Editar</a>*@
                        <a type="button" class="btn btn-success btn-sm" asp-action="Login" asp-route-id="@item.Id">Modificar</a>
                        @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                        @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>