<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HojaResumen</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/MDB/css/addons/datatables.min.css">

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/examplec.css" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="~/lib/MDB/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="~/lib/MDB/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="~/lib/MDB/css/style.css" rel="stylesheet">

    <!-- Datatable -->
    <link rel="stylesheet" href="~/css/Datatable/buttons.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/print.min.css" />




</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Inicio" asp-action="Index">
                    <img src="~/img/Baxter.png" width="150" height="30" class="d-inline-block align-top" alt="">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">

                        @using Microsoft.AspNetCore.Http
                        @inject IHttpContextAccessor httpContextAccessor
                        @if (string.IsNullOrEmpty(@httpContextAccessor.HttpContext.Session.GetString("SessionUser")))
                        {
                            Context.Response.Redirect("/Home/LogoutEmpty");
                        }
                        else
                        {

                            @using Microsoft.AspNetCore.Authorization
                            @inject IAuthorizationService AuthorizationService
                            @if ((await AuthorizationService.AuthorizeAsync(User, "Users")).Succeeded)
                            {

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Inicio" asp-action="Index">Inicio</a>
                                </li>
                            }


                            @*<li class="nav-item">
                         <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>*@
                            else
                            {

                                @if ((await AuthorizationService.AuthorizeAsync(User, "AdminSupervisor")).Succeeded)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Inicio" asp-action="Index">Inicio</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="CiclosAutoClaveAgua" asp-action="Index">DatosExplotacionAgua</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="CiclosAutoClaveVapor" asp-action="Index">DatosExplotacionVapor</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="MaestroAutoclaveSup" asp-action="Index">Control Estado</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="AudiTrail" asp-action="Index">AudiTrail</a>
                                    </li>


                                    @if ((await AuthorizationService.AuthorizeAsync(User, "Admins")).Succeeded)
                                    {

                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="MaestroAutoclave" asp-action="Index">Control Maestro</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Parametro" asp-action="Index">Configuración</a>
                                        </li>



                                    }
                                }
                            }
                        }

                    </ul>
                </div>
            </div>

            <div class="btn-group">

                <span class=" text-danger text-lg-right font-weight-bold mr-lg-5 mr-md-5 mr-sm-5" id="SecondsUntilExpire">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

            </div>

            <div class="btn-group">


                <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-user fa-fw"></i>@httpContextAccessor.HttpContext.Session.GetString("SessionUser")</button>
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Logout"><i class="fas fa-sign-out-alt"></i>Cerrar Sesión</a>
                </div>
            </div>

            @*<div class="panel panel-default">
            <div style="color:white" class="panel-heading">ghfdhgfdgh</div>
            <div class="panel-body">
                <span style="color:black;background:yellow;font-weight:bold" id="SecondsUntilExpire"></span>
            </div>
        </div>
        <ul class="nav nav-pills">

            <li class="nav-item">
                <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Logout"><i class="fas fa-sign-out-alt"></i>Cerrar sesión</a>
            </li>
            <li class="nav-item">

                <p class=" navbar-text text-danger">Hola, <strong> @httpContextAccessor.HttpContext.Session.GetString("SessionUser")!</strong> </p>
            </li>

        </ul>*@
        </nav>


    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">

            @RenderBody()


        </main>
    </div>

    <footer class="border-top page-footer font-small blue">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            <div class="row">
                <div class="col-sm">

                </div>

                <div class="col-sm">
                    <p>&copy; 2021 Copyright - <a asp-area="" asp-controller="Homexx" asp-action="Privacy">Baxter</a></p>

                </div>

                <div class="col-sm">
                    <p> Hoja Resumen <a asp-area="" asp-controller="Homexx" asp-action="Privacy">v1.1 <i class="fa fa-rocket"></i></a></p>
                </div>

            </div>

        </div>
        <!-- Copyright -->

    </footer>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/libraries/jquery.dataTables.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
   

    <script src="~/js/TimeOut/TimeOut.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/lib/MDB/js/bootstrap.min.js"></script>  @*cambiado*@

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/lib/MDB/js/mdb.min.js"></script> @*cambiado*@
    <script type="text/javascript" src="~/lib/MDB/js/addons/datatables.min.js"></script>
    <script type="text/javascript" src="~/lib/DataTables/datatables.min.js"></script>

    <!-- Angular -->
    <script src="~/lib/libraries/AnguLib/angular.min.js"></script>

    <!-- Datatable -->
    <script src="~/lib/libraries/DataTable/angular-datatables.js"></script>
    <script src="~/lib/libraries/DataTable/dataTables.buttons.min.js"></script>
    <script src="~/lib/libraries/DataTable/buttons.colVis.min.js"></script>
    <script src="~/lib/libraries/DataTable/buttons.flash.min.js"></script>
    <script src="~/lib/libraries/DataTable/buttons.html5.min.js"></script>
    <script src="~/lib/libraries/DataTable/buttons.print.min.js"></script>
    <script src="~/lib/libraries/DataTable/angular-datatables.buttons.min.js"></script>

    <!-- Excel-PDF-Copy -->
    <script src="~/lib/libraries/ExcLib/jszip.min.js"></script>
    <script src="~/lib/libraries/ExcLib/pdfmake.min.js"></script>
    <script src="~/lib/libraries/ExcLib/dataTables.colReorder.min.js"></script>

    <!-- Interno -->

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/homeApp.js" asp-append-version="true"></script>
    <script src="~/js/vaporApp.js" asp-append-version="true"></script>
    <script src="~/js/aguaApp.js" asp-append-version="true"></script>

    <script src="~/js/print.min.js" asp-append-version="true"></script>



    @*<script src="~/js/AngularJSApp/AutoClaveA/Module.js" asp-append-version="true"></script>
        <script src="~/js/AngularJSApp/AutoClaveA/Controller.js" asp-append-version="true"></script>
        <script src="~/js/AngularJSApp/AutoClaveA/Service.js" asp-append-version="true"></script>*@






    @RenderSection("Scripts", required: false)
</body>
</html>
