<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HojaResumen</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/MDB/css/addons/datatables.min.css">

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/examplec.css" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="~/lib/MDB/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="~/lib/MDB/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="~/lib/MDB/css/style.css" rel="stylesheet">

    <!-- Datatable -->
    <link rel="stylesheet" href="~/css/Datatable/buttons.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/print.min.css" />




</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Inicio" asp-action="Index">
                    <img src="~/img/Baxter.png" width="150" height="30" class="d-inline-block align-top" alt="">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">

                        @using Microsoft.AspNetCore.Http
                        @inject IHttpContextAccessor httpContextAccessor
                        @if (string.IsNullOrEmpty(@httpContextAccessor.HttpContext.Session.GetString("SessionUser")))
                        {
                            Context.Response.Redirect("/Home");
                        }
                        else
                        {

                            @using Microsoft.AspNetCore.Authorization
                            @inject IAuthorizationService AuthorizationService
                            @if ((await AuthorizationService.AuthorizeAsync(User, "ADUsers")).Succeeded)
                            {

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                                </li>
                            }


                            @*<li class="nav-item">
                                 <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                </li>*@
                            else
                            {

                                @if ((await AuthorizationService.AuthorizeAsync(User, "ADAS")).Succeeded)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Inicio" asp-action="Index">Inicio</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="CiclosAutoClaveAgua" asp-action="Index">DatosExplotacionAgua</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="CiclosAutoClaveVapor" asp-action="Index">DatosExplotacionVapor</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="MaestroAutoclaveSup" asp-action="Index">Control Estado</a>
                                    </li>


                                    @if ((await AuthorizationService.AuthorizeAsync(User, "ADAdmins")).Succeeded)
                                    {

                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="MaestroAutoclave" asp-action="Index">Control Maestro</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Parametro" asp-action="Index">Configuración</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="AudiTrail" asp-action="Index">AudiTrail</a>
                                        </li>


                                    }
                                }
                            }
                        }

                    </ul>
                </div>
            </div>


            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                </li>
                <li class="nav-item">
                    @*<p class="float-right navbar-text navbar-right text-danger">Hola, <strong>@User.Identity.Name.Replace("GLOBAL\\", "")!</strong> </p>*@


                    @inject IHttpContextAccessor httpContextAccessor
                    <p class=" navbar-text text-danger">Hola, <strong> @httpContextAccessor.HttpContext.Session.GetString("SessionUser")!</strong> </p>
                </li>
            </ul>
        </nav>


    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">

            @RenderBody()


        </main>
    </div>

    <footer class="border-top page-footer font-small blue">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            &copy; 2020 Copyright - <a asp-area="" asp-controller="Home" asp-action="Privacy">Baxter</a>
        </div>

    </footer>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/libraries/jquery.dataTables.js"></script>


    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/lib/MDB/js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/lib/MDB/js/mdb.min.js"></script>
    <script type="text/javascript" src="~/lib/MDB/js/addons/datatables.min.js"></script>
    <script type="text/javascript" src="~/lib/DataTables/datatables.min.js"></script>

    <!-- Angular -->
    <script src="~/lib/libraries/AnguLib/angular.min.js"></script>

    <!-- Datatable -->
    <script src="~/lib/libraries/DataTable/angular-datatables.js"></script>
    <script src="~/lib/libraries/DataTable/dataTables.buttons.min.js"></script>
    <script src="~/lib/libraries/DataTable/buttons.colVis.min.js"></script>
    <script src="~/lib/libraries/DataTable/buttons.flash.min.js"></script>
    <script src="~/lib/libraries/DataTable/buttons.html5.min.js"></script>
    <script src="~/lib/libraries/DataTable/buttons.print.min.js"></script>
    <script src="~/lib/libraries/DataTable/angular-datatables.buttons.min.js"></script>

    <!-- Excel-PDF-Copy -->
    <script src="~/lib/libraries/ExcLib/jszip.min.js"></script>
    <script src="~/lib/libraries/ExcLib/pdfmake.min.js"></script>
    <script src="~/lib/libraries/ExcLib/dataTables.colReorder.min.js"></script>

    <!-- Interno -->

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/homeApp.js" asp-append-version="true"></script>
    <script src="~/js/vaporApp.js" asp-append-version="true"></script>
    <script src="~/js/aguaApp.js" asp-append-version="true"></script>

    <script src="~/js/print.min.js" asp-append-version="true"></script>



    @*<script src="~/js/AngularJSApp/AutoClaveA/Module.js" asp-append-version="true"></script>
        <script src="~/js/AngularJSApp/AutoClaveA/Controller.js" asp-append-version="true"></script>
        <script src="~/js/AngularJSApp/AutoClaveA/Service.js" asp-append-version="true"></script>*@






    @RenderSection("Scripts", required: false)
</body>
</html>
