@model ReflectionIT.Mvc.Paging.PagingList<WebResumen.Models.ViewModels.DownloadViewModel>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Details";
}
@{
    Layout = "~/Views/Shared/_LayoutInicio.cshtml";
}

<h2> Listado Ciclos Completos NA0611EFM</h2>


@if (TempData["Print"] != null)
{



    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@TempData["Print"].ToString()!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>



}

<div class="mt-4">
    @using (Html.BeginForm())
    {


        <form>
            Buscar por Nº Ciclo: @Html.TextBox("ciclo")


            <input type="submit" value="Buscar" />
        </form>

        <a class="float-right" asp-area="" asp-controller="AutoClaveM" asp-action="Index"><i class="fa fa-chevron-circle-left" style="font-size:48px;color:darkblue"></i></a>

    }
</div>



<div class="mt-4" style="height: 600px; overflow: auto;">
    <table class="table table-sm">
        <thead class="thead-dark">
            <tr>

                <th>
                    Archivo
                </th>
                <th>
                    NumeroCiclo
                </th>

                <th>
                    Descargar
                </th>



            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Ciclo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Numero)
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Download", new { ciclo = item.Ciclo }, new { @class = "fa fa-download fa-2x" })

                    </td>


                </tr>
            }
        </tbody>
    </table>
</div>


    Página @(Model.PageCount < Model.PageIndex ? 0 : Model.PageIndex) de @Model.PageCount  Total Registros: @Model.TotalRecordCount
    <nav aria-label="Suppliers navigation example">
        <vc:pager paging-list="@Model" />
    </nav>
