@model IEnumerable<WebResumen.Models.AudiTrail>

@{
    ViewData["Title"] = "AudiTrail";
}

<h1>AudiTrail</h1>


<style>
    .fullscreen-spinner {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100000;
        background: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

@*<div class="fullscreen-spinner" ng-show="loading">
        <img src="~/img/spinner.gif" alt="spinner logo" />
    </div>*@




<body ng-app="datatablesAudiTrailApp" ng-controller="audiTrailCtrl">

    @*<input type="search" class="form-control"
               ng-model="searchText"
               ng-change="searchTable()" />

        <input type="search" class="form-control"
               ng-model="searchText"
               ng-change="searchTable()" />*@

    <table cellpadding="1" cellspacing="0" border="0" style="width: 45%; margin: 0 auto 2em auto;">
        <thead class="thead-dark">
            <tr>
                <th hidden>Target</th>
                <th hidden>Buscar</th>
                <th hidden>Treat as regex</th>
                <th hidden>Use smart search</th>
            </tr>
        </thead>
        <tbody>
            <tr id="filter_global">
                <td>Busqueda Global</td>
                <td align="center"><input type="text" class="global_filter" id="global_filter"></td>
                <td align="center" hidden><input type="checkbox" class="global_filter" id="global_regex"></td>
                <td align="center" hidden><input type="checkbox" class="global_filter" id="global_smart" checked="checked"></td>
            </tr>
           
            <tr id="filter_col2" data-column="1">
                <td>Usuario </td>
                <td align="center"><input type="text" class="column_filter" id="col1_filter"></td>
                <td align="center" hidden><input type="checkbox" class="column_filter" id="col1_regex"></td>
                <td align="center" hidden><input type="checkbox" class="column_filter" id="col1_smart" checked="checked"></td>
            </tr>
           
            <tr id="filter_col5" data-column="4">
                <td>Evento</td>
                <td align="center"><input type="text" class="column_filter" id="col4_filter"></td>
                <td align="center" hidden><input type="checkbox" class="column_filter" id="col4_regex"></td>
                <td align="center" hidden><input type="checkbox" class="column_filter" id="col4_smart" checked="checked"></td>
            </tr>
         

            <tr>
                <td>Intervalo Fecha : </td>
                <td align="left"><input name="min" id="min" type="datetime-local" value=""><button onclick="javascript:min.value=''">X</button>  <input name="max" id="max" type="datetime-local" value=""><button onclick="javascript:max.value=''">X</button></td>

            </tr>
           

        </tbody>
    </table>

    <table id="example" datatable class="table table-striped table-bordered table-sm"
           dt-options="dtOptions"
           dt-columns="dtColumns"
           dt-instance="dtInstance">
        <thead class="thead-dark">
        </thead>

    </table>





</body>

@*<div style="height: 600px; overflow: auto;">
    <table class="table table-bordered table-responsive-sm table-striped ">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Usuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tabla)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaHora)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Evento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Campo)
                </th>
                <th>
                    ValorAntiguo
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ValorActualizado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comentario)
                </th>
<th>
        @Html.DisplayNameFor(model => model.Tiempo)
    </th>
<th></th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tabla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorActualizado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentario)
            </td>
                    <td>
    @Html.DisplayFor(modelItem => item.Tiempo)
</td>

</tr>
            }
        </tbody>
    </table>
</div>*@
