@model WebResumen.Models.ViewModels.DoubleLoginMaestroViewModel

@{
    ViewData["Title"] = "Confirmación de Cambio Estado";
}

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}




<div class="container justify-content-center mt-5">
    <h5 class="justify-content-center">Confirmarción de Usuario</h5>
    <div class="row">
        <div class="col-md-6">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Usuario"></label>
                    <input asp-for="Usuario" class="form-control" />
                    <span asp-validation-for="Usuario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contraseña"></label>
                    <input asp-for="Contraseña" class="form-control" />
                    <span asp-validation-for="Contraseña" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="Comentario"></label>*@
                    <label>Motivo del Cambio</label>
                    <input asp-for="Comentario" class="form-control" />
                    <span asp-validation-for="Comentario" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <input asp-for="Id" class="form-control" value="@ViewBag.maestro.Id" type="hidden" />
                    <input asp-for="Matricula" class="form-control" value="@ViewBag.maestro.Matricula" type="hidden" />
                    <input asp-for="Nombre" class="form-control" value="@ViewBag.maestro.Nombre" type="hidden" />
                    <input asp-for="Version" class="form-control" value="@ViewBag.maestro.Version" type="hidden" />
                    <input asp-for="Ip" class="form-control" value="@ViewBag.maestro.Ip" type="hidden" />
                    <input asp-for="Seccion" class="form-control" value="@ViewBag.maestro.Seccion" type="hidden" />
                    <input asp-for="Estado" class="form-control" value="@ViewBag.maestro.Estado" type="hidden" />
                    <input asp-for="UltimoCiclo" class="form-control" value="@ViewBag.maestro.UltimoCiclo" type="hidden" />
                    <input asp-for="RutaSalida" class="form-control" value="@ViewBag.maestro.RutaSalida" type="hidden" />
                    <input asp-for="RutaSalidaPDF" class="form-control" value="@ViewBag.maestro.RutaSalidaPdf" type="hidden" />


                </div>
                <button type="submit" class="btn btn-primary">Login</button>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}