@*@model IEnumerable<WebResumen.Models.CiclosSabiDos>*@
@model ReflectionIT.Mvc.Paging.PagingList<WebResumen.Models.CiclosSabiDos>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Index";
}

<h2>Ciclos Esterilización Producto 1167L</h2>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
@if (TempData["Print"] != null)
{

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@TempData["Print"].ToString()!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

}
<div class="mt-4">
    @using (Html.BeginForm())
    {

    <form>
        Buscar por Nº Ciclo: @Html.TextBox("nCiclo", @Model.RouteValue["nCiclo"])
        Buscar por Nº Programa: @Html.TextBox("nPrograma", @Model.RouteValue["nPrograma"])

        <input type="submit" value="Buscar" />
    </form>
        <a class="btn btn-blue float-right" asp-area="" asp-controller="AutoClaveL" asp-action="CycleList">Listado</a>


    }
</div>

    <div class="mt-4" style="height: 600px; overflow: auto;">
        <table class="table table-responsive-sm">
            <thead class="thead-dark">
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.NumeroCiclo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Programa)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.HoraInicio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HoraFin)
                    </th>
                    <th>
                        Acciones
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.NumeroCiclo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Programa)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.HoraInicio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoraFin)
                        </td>

                        <td>

                            <a type="button" class="btn btn-info " asp-action="Preview" asp-route-id="@item.Id">Ver</a>
                            <a type="button" class="btn btn-success " asp-action="Login" asp-route-id="@item.Id">Imprimir</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    Página @(Model.PageCount < Model.PageIndex ? 0 : Model.PageIndex) de @Model.PageCount  Total Registros: @Model.TotalRecordCount
    <nav aria-label="Suppliers navigation example">
        <vc:pager paging-list="@Model" />
    </nav>
